<form method="post" action="/puppy">
  <label for="name"> Puppy Name</label>
  <input type="text" id="name" name="puppy[name]">
  <label for="breed"> Puppy Breed</label>
  <input type="text" id="breed" name="puppy[breed]">
  <label for="age"> Puppy Age</label>
  <input type="text" id="age" name="puppy[age]">
  <input type="submit" value="submit">
</form>
